In [1]:
import pandas as pd
from sklearn import linear_model
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('E:\csv files\hoouseprice.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [3]:
df.fillna(df.bedrooms.median())

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.5   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [4]:
import math
df.bedrooms.median()

3.5

In [5]:
df.bedrooms=df.bedrooms.fillna(df.bedrooms.median())
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.5   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [6]:
df=df.fillna(df.bedrooms.median())

In [7]:
X_train=df.drop('price',axis=1)
x_test=df.price

In [8]:
model=linear_model.LinearRegression()
model.fit(X_train,x_test)

LinearRegression()

In [9]:
model.predict([[2500,4,5]])

array([614551.67948517])

In [10]:
model.predict([[3000,3,40]])

array([330999.05823262])

In [11]:
model.coef_

array([    198.47159002, -116583.73881651,  -14267.77585936])

In [12]:
model.intercept_

656046.5390048662

In [13]:
#y=m1*x+m2*x2+m3*x3+b
198.47159002*3000+(-116583.73881651*3)+(-14267.77585936*40)+656046.5390048662

330999.05824093625